* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #f2f2f2;
  position: relative;
  height: 200vh;
}
header {
  color: white;
  width: 100%;
  height: 62.3vh; /*remove this height after modeling*/
  background: linear-gradient(to bottom, #061424, #16467c);
}
.top-section {
  width: 100%;
  font-family: "Mukta", "Lato", sans-serif;
}
.nav-container {
  width: 100%;
  height: 10vh;
  padding-top: 5px;
  margin-bottom: 40px;
}
nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav select {
  background-color: inherit;
  border: none;
  color: white;
  outline: none;
}
nav .logo {
  width: 9.5% ;
  height: 37px;
  cursor: pointer;
  margin-left: -10px;
  margin-top: 2px;

}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav .links {
  display: flex;
  align-items: center;
  max-width: 70%;
  cursor: pointer;
  flex-grow: 1;
  /* justify-content: flex-end; */
}
.nav-links {
  display: flex;
  /* background-color: red; */
}
.nav-links ul {
  height: 100%;
  list-style-type: none;
}
.nav-links li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.header-icon {
  width: 12%;
}
.header-icon img {
  width: 100%;
}
.headerContent {
  padding-left: 10px;
}
.headerContent h3 {
  font-family: "Mukta", "Lato", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 12px;
  vertical-align: baseline;
  font-weight: 700;
}
.headerContent h4 {
  font-family: "Mukta", "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  vertical-align: baseline;
  font-weight: 700;
}
.headerContent .special-case-font {
  font-size: 10px;
  vertical-align: baseline;
  font-weight: 700;
  line-height: 10px;
}
.headerContent p {
  font-size: 10px;
  vertical-align: baseline;
  line-height: 10px;
  font-weight: 400;
}
.create-account {
  display: flex;
  align-items: center;
  width: 213px; /*check with mam*/
  height: 42px;
  border-radius: 4px;
  padding: 2px 10px;
  color: white;
  padding: 1%;
  background: linear-gradient(to right, #53b2fe, #065af3);
}
.account-logo {
  width: 12%;
  height: 1.3rem;
  /* border:1px solid red; */
  align-items: vertical;
}
.myicon {
  width: 100%;

  /* border: 1px solid yellow; */
  /* margin-top: 10px; */
}

.login-para {
  font-family: "Mukta", "Lato", sans-serif;
  font-size: 10px;
  line-height: 10px;
  vertical-align: baseline;
  font-weight: 700;
}
.language {
  display: flex;
  align-items: center;
  max-width: 15%;
  background-color: rgb(43, 55, 69);
  color: white;
}
.language {
  font-size: 11px;
  height: 42px;
  border-radius: 4px;
  padding: 5px 10px;
}
.flag {
  width: 10%;
}
.flag img {
  width: 100%;
}
.bottom-section {
  position: relative;
  width: 1200px;
  margin: 0 auto 40px;
}
.input-container {
  background-color: white;
  width: 100%;
  height: 100%;
  /* padding: 65px 20px 0px 20px; */ /*put this in content box*/
  position: relative;
  border-radius: 10px;
}
.upper-one {
  width: 80%;
  margin: 0px auto;
  height: 100px;
  border-radius: 8px;
  padding: 8px 30px;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  /* z-index:1; */
}
.upper-one ul {
  list-style-type: none;
  /* background-color: green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.item-container {
    flex-grow: 1;
  /* border: 1px solid red; */
  width: 70px;
  height: 100%;
}
.item-container a{
text-decoration:none;
color: white;
font-family: 'Lato',sans-serif;
color: #747474;
font-size:14px;
font-weight: 400;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}
.item-container a img{
    width: 100%;
    height: 35px;
}
/* item-container a :after{
    
} */

.flights_one_way{
  display: flex;
  width: 400px;
  color: #4a4a4a;
  font-weight: 300;
}
.selected_portion{
  background: #eaf5ff;
  color: #000000;
  font-weight: 900;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 20px;
  padding: 2px 6px;
  border-radius: 20px;
  font-size: 10px;
}
.selected_one_way{
  border: #008cff;
  background: #008cff;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.unselected_portion{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 10px;
  padding: 2px 6px;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 10px;
}
.rightside_portion{
  margin-left: auto;
  display: flex;
}

.rightside_content{
  color: #888;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-top: 0px;
  margin-right: 20px;
}

.unselected{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: solid 1px #9b9b9b;
  margin-right: 5px;
}

.one_way{
  display: flex;
}

.from-to {
  color: black;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.from-to-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 18px;
}

.from-to .delhi {
  margin-top: 8px;
  font-size: 36px;
  font-weight: bolder;
}

.lower-one {
  position: absolute;
  /* border: 1px solid cyan; */
  background: linear-gradient(to right, #5bb5fd, #095cf4);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 45px;
  transform: translate(-50%, 50%);
  border-radius: 110px;
  /* transform: translateY(50%); */
}
.lower-one button {
  border: none;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: transparent;
  outline: none;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
main {
  background-color: #f2f2f2;
}
footer{
/* position: absolute; */
bottom: 0px;
width: 100%;
/* border: 2px solid red; */
}
.footer-above{
  width:100%;
  margin-bottom: 70px;
  
}
.footer-description-container{
  max-width: 1200px;
  background-color:#f2f2f2 ;
  margin :0 auto;
  font-family: 'Lato',sans-serif;
}
.description-containers li{
  display: inline;
  margin-bottom: 20px;
}
.description-containers a{
  text-decoration: none;
  font-family: 'Lato',sans-serif;
  font-size:12px;
  color: rgb(74, 74, 74);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 20px;
}
.description-containers a:hover{
  color: #065af3;
}
.footer-above h5{
  font-size: 10px;
  line-height: 10px;
 font-weight: 900;
 margin-bottom: 10px;

}
.footer-above ul{
  font-size:12px;
  color: rgb(74, 74, 74);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 20px;
  /* color: #008CFF;  *//*put this on hower for every link*/
}
.footer-middle{
  background-color:#E7E7E7 ;
  max-width: 100%;
  height: 342px;
  padding:  60px 0;
  font-family: 'Lato',sans-serif;
}
.footer-preference{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.preference-containers{
  max-width: 375px;
}
.footer-preference h2{
font-size: 16px;
font-weight: 700;
margin-bottom:25px;
letter-spacing: 0.31px;
}
.footer-preference p{
  font-size:12px;
  color: rgb(74, 74, 74);
  font-weight: normal;
  line-height: 16px;
}

.bottom-footer-container {
  /* border: 2px solid red; */
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding-bottom:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 160px;
  background-color: black;
  color: white;
}
.left {
  display: flex;
  /* border: 1px solid red; */
}
.left div {
  /* border: 1px solid yellow; */
  margin-right: 10px;
  cursor: pointer;
  padding: 12px;
}
.twitter i, .facebook i{
  font-size: 30px;
}
.right h5 {
  font-family: "Lato", sans-serif;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  padding-bottom:5px;
  /* padding-bottom: 5px; */
}
.right p {
    font-family: "Lato", sans-serif;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    padding-bottom:5px;
}
.right a {
font-family: "Lato", sans-serif;
  text-decoration: none;
  text-align: right;
  color: white;
  font-weight: 900;
}

.offers_container {
  background-color: #ffffff;
  position: relative;
  width: 1200px;
  height: 550px;
  display: flex;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  align-items: start;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  font-family: "lato", sans-serif;
}

.offers_container::-webkit-scrollbar {
  height: 0;
  width: 0;
}

h2 {
  margin: 10px;
  padding: 25px;
  font-weight: 900;
  font-size: 2em;
  color: #393939;
}

.offers {
  margin-bottom: 20px;
  display: flex;
  color: black;
}

.offers_categories{
  align-items: center;
  justify-content: center;
  display: flex;
}

.offers_ul {
  margin-left: 30px;
  text-transform: capitalize;
  border-bottom: solid 1px #c6c6c6;
  display: flex;
  list-style-type: none;
}

.all_offers {
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: capitalize;
  padding: 5px;
  margin-right: 20px;
  border-bottom: solid 3px #008cff;
  transition: all 0.2s linear;
  position: relative;
  font-weight: 900;
  color: #008cff;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.offers_li{
  padding: 5px;
  margin-right: 20px;
  border-bottom: solid 3px #fff;
  transition: all 0.2s linear;
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: capitalize;
  color: #4a4a4a;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.offer-item {
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  width: 30rem;
  padding: 12px;
  border-radius: 12px;
}

.offer-item .left {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

.offer-item .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
}

.offer-item button {
  width: 5rem;
  background-color: white;
  border: none;
  color: #095cf4;
  font-weight: bold;
  align-self: flex-end;
  font-size: 14px;
  cursor: pointer;
}

.offer-list {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

}

.download_container{
  padding: 10px 60px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 1200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
}

.download_content {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.left_upper_portion {
  align-items: center;
  display: flex;
}

.app_icon_download{
  background: url(https://imgak.mmtcdn.com/pwa_v3/pwa_mmt_ui_assets/app-sprite.webp);
  display: inline-block;
  background-size: 250px 250px;
  font-size: 0px;
  flex-shrink: 0;
  width: 92px;
  height: 96px;
  background-position: -155px -4px;
  -o-object-fit: contain;
  object-fit: contain;
  transform: scale(0.6);
  margin-left: -28px;
}

h3 {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  line-height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

p {
  line-height: 18px;
}

.bold {
  font-weight: 900;
  color: #000;
}

.left_bottom_portion{
  margin-top: 24px;
}

.left_bottom_content{
  display: flex;
}

.flag {
  padding-top: 1px;
  display: flex;
  border-radius: 4px 0 0 4px;
  border: 1px solid #9b9b9b;
  border-right: 0px;
  position: reltive;
}
.flag_portion{
  align-items: center;
  display: flex;
}
.flag_adjust{
  margin-left: 10px;
  margin-right: 5px;
}
.flag_content{
  display:flex;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000;
  font-weight: 700
}

.phone_number{
  width: 280px;
  height: 40px;
  border: solid 1px #9b9b9b;
  background-color: #ffffff;
  outline: 0;
  padding: 0 9px;
  font-size: n14px;
  border-radius: 0;
  border-left: 0;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000;
}

.get_app_link{
  width: 160px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  border: solid 1px #008cff;
  font-size: calc(var(--font-scale, 1) * 16px);
  font-weight: 900;
  color: #008cff;
  outline: 0;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}

.download_right_portion{
  display: flex;
  justify-content: space-between;
}

.download_app{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 36px;
}

.play_store_icon{
  background: url(https://imgak.mmtcdn.com/pwa_v3/pwa_mmt_ui_assets/app-sprite.webp);
  display: inline-block;
  background-size: 250px 250px;
  font-size: 0px;
  flex-shrink: 0;
  width: 149px;
  height: 44px;
  background-position: -3px -55px;
  margin: 0 0 20px;
  object-fit: contain;
}
.app_store_icon{
  background: url(https://imgak.mmtcdn.com/pwa_v3/pwa_mmt_ui_assets/app-sprite.webp);
  display: inline-block;
  background-size: 250px 250px;
  font-size: 0px;
  flex-shrink: 0;
  width: 149px;
  height: 44px;
  background-position: -3px -6px;
  object-fit: contain;
}

.scanner_portion{
  text-align: center;
}
.scanner{
  background: url(https://imgak.mmtcdn.com/pwa_v3/pwa_mmt_ui_assets/app-sprite.webp);
  display: inline-block;    
  background-size: 250px 250px;
  font-size: 0px;
  width: 105px;
  height: 105px;
  margin-bottom: 3px;
}

.handpick_collection_container{
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 30px 0 30px 40px;
  border-radius: 10px;
  width: 1200px;
  height: 350px;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-x: scroll;
}
.handpick_collection_container::-webkit-scrollbar{
  height: 0;
  width: 0;
}

.handpick_heading {
  font-size: 32px;
  color: black;
  font-weight: 900;
  margin: 0;
  list-style: none;
  padding: 0;
  
}

.handpick_collection_list_container{
  margin-top: 15px;
}

.handpick_collection_list{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.hp-image {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 18px 12px;
  border-radius: 12px;
  position: relative;
  height: 250px;
  width: 220px;
  background-size: cover;
}

.hp-container {
  display: flex;
  gap: 20px;
}

.lk-image {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 18px 12px;
  border-radius: 12px;
  position: relative;
  height: 250px;
  width: 220px;
  background-size: cover;
}

.trip-money-container{
  width: 1200px;
  background-color: white;
  height: 5rem;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 2px solid rgb(255, 203, 202);
  display: flex;
  margin-top: 20px;
}

.trip-money{
  position: absolute;
  width: 30px;
  background-color: rgb(255, 203, 202);
  height: 4.9rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 12px;
}

.trip-money-content{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: space-around;
}

.trip-money-button{
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: #008cff;
  font-weight: bold;
  cursor: pointer;
}